/* A few simple resets to "standardize" the basics */

html {
	box-sizing: border-box;
	overflow-y: scroll;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

img,
object,
embed {
	max-width: 100%;
	vertical-align: middle;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
}
ul.ul {
	list-style-type: disc;
	padding-inline-start: 40px;
}
